<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TotDbs_ArchivierungsTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <TotDbs_ArchivierungsTool.Properties.Settings>
            <setting name="source_server_name" serializeAs="String">
                <value />
            </setting>
            <setting name="source_db_name" serializeAs="String">
                <value />
            </setting>
            <setting name="dest_server_name" serializeAs="String">
                <value />
            </setting>
            <setting name="dest_db_name" serializeAs="String">
                <value />
            </setting>
            <setting name="mailadress_to" serializeAs="String">
                <value>firas.karam@combera.com</value>
            </setting>
            <setting name="mailadress_cc" serializeAs="String">
                <value />
            </setting>
            <setting name="mailadress_from" serializeAs="String">
                <value>firas.karam@combera.com</value>
            </setting>
            <setting name="archiv_server" serializeAs="String">
                <value />
            </setting>
            <setting name="archiv_db" serializeAs="String">
                <value />
            </setting>
        </TotDbs_ArchivierungsTool.Properties.Settings>
    </userSettings>
</configuration>